.App-header {
  min-height: 100vh;
  font-size: calc(10px + 2vmin);
}

main {
  padding: 50px;
}

@keyframes App-logo-float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0px);
  }
}

ul {
  list-style: none;
  padding: 0;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.navbar {
  color: rgb(112, 76, 182);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px;
}

li {
  padding: 0 80px;
}

li:last-child {
  padding-right: 0;
}

a, a:visited {
  color: rgb(112, 76, 182);
  text-decoration: none;
}

a:hover {
  color: rgb(112, 76, 182);
  text-decoration: underline;
}
